* {
   box-sizing: border-box;
 }
 
 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }
 
 html {
   font-family:'Playfair+Display', serif;
   background-color: #fdfcee;
   color: #3a341a;
   scroll-behavior: smooth;
   line-height: 1.4;
 }

 header h1 {
   font-weight: regular;
 }

 .painting img {
   max-width: 100%;
   margin: auto;
 }

 h2 {
   text-align: center;
   color: #3a341a;
 }

 .painting p {
  text-align: center;
  color: #3a341a;
  max-width: 70%;
 }

